COMPOSE_PROJECT_NAME=reddit
USER_NAME=rdt   
NETW_FRONT=net_front
SUBNET_FRONT=10.0.11.0/24
NETW_BACK=net_back
SUBNET_BACK=10.0.22.0/24
UI_HOST_PORT=9292
UI_CNTR_PORT=9292
MONGODB_VER=3.2  
UI_VER=latest
POST_VER=latest
COMMENT_VER=latest
